<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated%}
        <h4 style="margin-right:50px">Hello {{ user.username }}</h4>
        <a style="padding:40px ;" href="{% url 'login' %}">Logout</a>
        

    {% else %}
        <div style="margin-right:10%;">
            <h3>You are not Logged in</h3>
            <h3><a href="{% url 'login' %}">Login</a></h3>
        </div>
    {% endif %}
    <h1>
        Home Page!! Backend project
    </h1>
</body>
</html>