<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register</title>
</head>
<body>
    <h1>Well come to Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Register</button>
    </form>
    <p>Have an accountt? <a href="/relationship_app/login/">Login</a> </p>
    {% for message in messages %}
        <div style="color:red;"><h4>{{ message }}</h4></div>
    {% endfor %}
</body>
</html>