{% extends "blog/base.html" %}
{% block content %}
<h1>Home Page</h1>
<h3>Hello, am <b>Lidetu</b> a Backend Software Engineer</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis fugit provident dignissimos sunt, quos animi saepe sequi nostrum molestias labore numquam nobis. Sint vitae harum debitis, facilis eveniet vel architecto!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptatum, cumque, ducimus omnis fugiat laboriosam maxime sed dolor quia, quidem a! Exercitationem debitis dolore aspernatur, odio commodi praesentium aperiam rem?</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti sapiente maiores! Dolor architecto harum amet. Repellat eveniet architecto autem, nostrum et eos quae eum totam aperiam quasi ullam quam!

{% endblock %}