<h2>Comments</h2>
<ul>
     {% for comment in post.comments.all %}
         <li>
             <strong>{{ comment.author }}</strong>: {{ comment.content }}
             <em>{{ comment.created_at }}</em>
             {% if comment.author == user %}
                 <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                 <a href="{% url 'delete_comment' comment.id %}">Delete</a>
             {% endif %}
         </li>
     {% endfor %}
</ul>

<h3>Add Comment</h3>
<form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     <button type="submit">Submit</button>
</form>